html {
  box-sizing: border-box;
  background-image: url(assets/steve-carell.jpg);
  background-color: rgb(160, 160, 160);
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  background-repeat: no-repeat;
  background-size: cover;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

.text-center {
  text-align: center;
  font-family: 'Calibri';
  color: white;
  text-shadow: 1px 2px 5px rgba(65, 65, 65, 0.7);
}

.quoting-side {
  position: relative;
  width: 50%;
  margin: 0 auto 0 5%;
}

#quote {
  background: white;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.44);
  padding: 10px 30px;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

.center {
  margin: 15px auto;
  position: relative;
  text-align: center;
}

.again {
  all: unset;
  font-family: 'Calibri';
  color: white;
  border-radius: 5px;
  background-color: #37363b;
  text-shadow: 1px 2px 5px rgba(65, 65, 65, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.44);
  width: 50%;
  padding: 10px;
  cursor: pointer;
}
